---
---
<header class="main-header">
  <nav class="main-nav">
    <a href="/" class="site-logo">HiveBlogs</a>
    <ul class="nav-links">
      <li><a href="#">Menú 1</a></li>
      <li><a href="#">Menú 2</a></li>
      <li><a href="#">Menú 3</a></li>
      <li><a href="#">Menú 4</a></li>
      <li><a href="#">Menú 5</a></li>
    </ul>
  </nav>
</header>

