---
import { getUserProfile } from 'hiveblogkit';
import type { SITE_INFO } from '../config/site';

export interface Props {
  currentLocale: typeof SITE_INFO.locales.es; 
}

const { currentLocale } = Astro.props;

// Lee el nombre de usuario de Hive desde las variables de entorno
const HIVE_USERNAME = import.meta.env.HIVE_USERNAME;

// Define una imagen de fondo por defecto
let coverImageUrl = '/background-placeholder.jpg';
let heroDescription = currentLocale.heroDescription;

// Si el nombre de usuario está disponible, intenta obtener la imagen de portada
if (HIVE_USERNAME) {
  try {
    // Llama a la función para obtener el perfil del usuario
    const userProfile = await getUserProfile(HIVE_USERNAME);

    // Verifica si la respuesta contiene los metadatos del perfil
    if (userProfile && userProfile.posting_json_metadata) {
      const metadata = JSON.parse(userProfile.posting_json_metadata);
      
      // Si existe una imagen de portada en el perfil, úsala
      if (metadata.profile && metadata.profile.cover_image) {
        coverImageUrl = metadata.profile.cover_image;
      }
      
    }
  } catch (error) {
    // En caso de error, muestra un mensaje en la consola y usa la imagen por defecto
    console.error(`Error al obtener el perfil de Hive para ${HIVE_USERNAME}:`, error);
  }
}
---
<section class="hero" style={`background-image: url('${coverImageUrl}');`}>
  <div class="container">
    <h1>{currentLocale.heroTitle.replace('@quigua', '@' + HIVE_USERNAME)}</h1>
    <p>{heroDescription}</p>
    <a href="/posts" class="call-to-action">Explora Posts</a>
  </div>
</section>