---
import { SUBCATEGORIES } from '../config/site';
import { getCollection } from 'astro:content';

export interface Props {
  category: string;
}

const { category } = Astro.props;

const allPosts = await getCollection('blog');
const activeSubcategories = new Set();

allPosts.forEach(post => {
  if (post.data.category === category && post.data.subcategory) {
    activeSubcategories.add(post.data.subcategory);
  }
});

const subcategories = (SUBCATEGORIES[category] || []).filter(subcat => activeSubcategories.has(subcat));
---

{subcategories.length > 0 && (
  <>
    <h3>Subcategorías de {category}</h3>
    <nav class="categories-nav">
      <ul>
        {subcategories.map(subcat => (
          <li><a href={`/temas/${category.toLowerCase().replace(/ /g, '-')}/${subcat.toLowerCase().replace(/ /g, '-')}/`}>{subcat}</a></li>
        ))}
      </ul>
    </nav>
  </>
)}

